<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interfaces</key>
	<dict>
		<key>MacOS</key>
		<dict>
			<key>Name</key>
			<string>macos</string>
			<key>Abstract</key>
			<string>Burns the selected macOS setup app to the target media device</string>
		</dict>
		<key>Unix</key>
		<dict>
			<key>Name</key>
			<string>unix</string>
			<key>Abstract</key>
			<string>Burns the selected UNIX like ISO image to the target media device</string>
		</dict>
		<key>DOS</key>
		<dict>
			<key>Name</key>
			<string>dos</string>
			<key>Abstract</key>
			<string>Burns the selected DOS like ISO image to the target media device</string>
		</dict>
		<key>Main</key>
		<dict>
			<key>Name</key>
			<string>bdutil</string>
			<key>Version</key>
			<string>0.0.1</string>
			<key>Abstract</key>
			<string>Boot Drive Utility</string>
		</dict>
		<key>Creator</key>
		<dict>
			<key>Name</key>
			<string>create</string>
			<key>Abstract</key>
			<string>Burns the selected OS to the target media device</string>
		</dict>
	</dict>
	<key>Developer</key>
	<string>Ancestral Labs</string>
</dict>
</plist>
